@model MaverickSystem.Models.RoleViewModel

@{
    ViewBag.Title = "角色添加";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">创建权限角色</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Name)&nbsp;&nbsp;<small>(多个角色之间用<code class="text-danger">&nbsp;;&nbsp;</code>隔开)</small>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="添加" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section style{
    <style>
        form {
            width: 100%;
        }
    </style>
}